<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">[PLUGINNAME]</label>
    <label lang="en">[PLUGINNAME]</label>

    <version>1.0.0</version>
    <copyright>(c) by Goltfisch GmbH</copyright>
    <link>https://8mylez.com</link>
    <author>8mylez</author>
    <compatibility minVersion="5.2.0"/>

    <description lang="de">
        <![CDATA[
            Beschreibung fuer das Plugin
        ]]>
    </description>
    <description lang="en">
        <![CDATA[
            Description for the plugin
        ]]>
    </description>

    <changelog version="1.0.0">
        <changes lang="de">Veröffentlichung</changes>
        <changes lang="en">Release</changes>
    </changelog>
</plugin>